---
import { Astro } from "astro";

export async function getStaticPaths() {
  const stories = await Astro.glob('../../../content/stories/*.md');
  return stories.map((story) => ({
    params: { slug: story.url.split('/').pop().replace('.md', '') },
    props: { story },
  }));
}

const { story } = Astro.props;
---

<article>
  <h1>{story.frontmatter.title}</h1>
  <div innerHTML={story.compiledContent()} />
</article>
