---
import { Astro } from 'astro';
const { slug } = Astro.params;
const story = await Astro.glob(`../../../content/stories/${slug}.md`);
---
<article>
  <h1>{story.title}</h1>
  <div innerHTML={story.body}></div>
</article>