---
const slug = Astro.params.slug;
const stories = await Astro.glob('../../../content/stories/*.md');
const story = stories.find((s) => s.url.includes(slug));
---

<article>
  <h1>{story.frontmatter.title}</h1>
  <div innerHTML={story.compiledContent()} />
</article>
